.header{
    background-color:rgb(34, 33, 33);
    color: aliceblue;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Scheherazade New', cursive;
}
.heade{
    background-color:rgb(34, 33, 33);
    color: yellowgreen;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Scheherazade New', cursive;
}